{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'myadmin/css/entry_guru.css' %}">
{% endblock %}


{% block content %}
	
	{% include 'myadmin/left_menu_bar.html' %}
	
	<div id="rightContent">
		<div class="container">
			<h2>
				Entry Data Guru
			</h2>

			<div class="row">
				<div class="col-md-6 col-sm-12 offset-md-3">
					<form method="post" action="" enctype="multipart/form-data" style="background-color: white; margin-top: 8%; padding: 20px 60px;">
						{% csrf_token %}
						
						<div class="form-group row">
							<label for="inputNamaGuru" class="col-md-2 col-form-label">Nama</label>
							<div class="col-md-10 cols-sm-8">
								<input type="text" name="namaGuru" id="inputNamaGuru" placeholder="Nama Guru" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label for="selectMapel" class="col-md-2 col-form-label">Mapel</label>
							<div class="col-md-10 cols-sm-8">
								<select id="selectMapel" class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>

							</div>
						</div>
						
						<p>Kelas yang diajar : </p>

						<div class="form-check row">
							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas1">
								<label class="form-check-label" for="kelas1">Kelas</label>
							</div>

							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas2">
								<label class="form-check-label" for="kelas2">Kelas</label>
							</div>

							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas3">
								<label class="form-check-label" for="kelas3">Kelas</label>
							</div>

							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas4">
								<label class="form-check-label" for="kelas4">Kelas</label>
							</div>

							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas5">
								<label class="form-check-label" for="kelas5">Kelas</label>
							</div>

							<div class="form-check-inline col-md-3" style="margin-bottom: 15px;">
								<input type="checkbox" class="form-check-input" id="kelas6">
								<label class="form-check-label" for="kelas6">Kelas</label>
							</div>
						</div>

						<button type="submit" class="btn btn-success" style="width: 100%; margin-top: 20px">Simpan</button>


					</form>
				</div>

			</div>

		</div>
	</div>
{% endblock %}
