{% extends 'base.html' %}
{% load staticfiles %}




{% block content %}
	
	{% include 'myadmin/left_menu_bar.html' %}
	
	<div id="rightContent">
		<div class="container">
			<h3>
				Import KD
			</h3>
			<br>
			<h5>Siapkan file excel dengan format seperti berikut</h5>

			<img class="icon-format" src="{% static 'myadmin/img/formatkdfix.png'%}">
			<br> <br>
			<h6>
				Keterangan
			</h6>

			<ol>
				<li>Baris 1 merupakan header. Baris 2 dan seterusnya merupakan data.</li>
				<li>Kolom data harus sesuai dengan format di atas.</li>
				<li>PENTING! Setiap KD harus memiliki kode yang berbeda. Jika ada kode yang sama, hanya 1 KD yang akan disimpan.</li>
				<li>Nomor urut dikosongkan jika tidak ingin ditampilkan ke rapor.</li>
				<li>Kumpulkan semua data KD dalam 1 sheet file excel.</li>
			</ol>


			<form method="post" action="" enctype="multipart/form-data" id="form-input-xls-kd">
				{% csrf_token %}
				<div class="form-group">
					<input type="file" name="pickExcel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required style="background-color: white;">
					<br><br>
					<button class="btn btn-success btn-md" type="submit" name="submit" style="width: 250px;">Import</button>
				</div>
			</form>

			{% if postResult %}
				<p>{{ postResult }}</p>
			{% endif %}

		</div>
	</div>
{% endblock %}