

html {
    height: 100%;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100%;
    padding: 70px 0;
    margin: 0;
    background-color: #dddddd;
}


h1, h2, h3 {
    text-align: center;
}


li {
    font-size: 17px;
}


#leftBar {
    position: fixed;
    height: 100%;
    width: 150px;
    bottom: 0;
    padding-top: 70px;
    background-color: white; 
    overflow-y: auto;
}


#rightContent {
    position: relative;            
    margin-left: 180px;
    padding-top: 20px
}

#rightContent h1, h2 {
    margin-top: 15px;
}

.footer {
	position: absolute;
	height: 30px;
	bottom: 0;
    left: 0;
    right: 0;
}


.footer p {
    margin: 0;
	font-size: 16px;
	text-align: center;
	color: #777575;
}


.icon-format {
    width: 100%;
    min-width: 500px;
}


