{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
	
	{% include 'myadmin/left_menu_bar.html' %}
	
	<div id="rightContent">
		<div class="container">
			<h2>
				Import Siswa
			</h2>
			
			<h5>Format file excel yang ingin diimport harus seperti berikut</h5>
			<img class="icon-format" src="{% static 'myadmin/img/formatkdfix.png'%}">
			<br><br>
			<form method="post" action="" enctype="multipart/form-data" id="form-input-siswa">
				{% csrf_token %}
				<div class="form-group">
					<input type="file" name="pickExcel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required style="background-color: white;"><br><br>
					<button class="btn btn-success btn-md" type="submit" name="submit" style="width: 250px;">Import</button>
				</div>
			</form>


			{% if postResult %}
				<li>Mapel: {{ postResult.nis }}</li>
				<li>Kelas: {{ postResult.nama }}</li>
				<li>Jurusan: {{ postResult.jurusan }}</li>
				<li>Semester: {{ postResult.semester }}</li>
				<li>No Urut: {{ postResult.noUrut }}</li>
				<li>Jenis: {{ postResult.jenis }}</li>
				<li>Kode: {{ postResult.kode }}</li>
				<li>{{ postResult|length }}</li>
			{% endif %}


		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'myadmin/js/import_siswa.js' %}"></script>
{% endblock %}